In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

a new york road safety officer gave you this dataset about accidents that have happened across the city of new york, 
he wants to know what town had the most number of accidents and the death and injury rate compared to these accidents
in addition he want to know the reason behind most accidents that occur
he also wants to know the type of people mostly involved in these accidents
he wants to know the number of accidents that have happened through each month of the year

Questions
number of accidents per borough
 
Context
when the on street name and cross street name are present the accident happened at an intersection 
when its only the on street name is present, the accident happened on a main road 
when only the off street name is present, the accident happened at a parking lot or an alleyway 
so either the cross street name and on street name is null and the off street name is present 
or the on street name is present and the off street and cross street name is null 
or the on street and cross street name is present and the off street name is null

Bronx has a zip code between 10451 and 10475, latitude between 0 and 40.912884
Queens has a zipcode between 11001 and 11697, latitude between 0 and 40.797800
Manhattan has a zip code between 10000 and 10282, latitude between 0 and 40.873020
Brooklyn has a zip code between 11201 and 11421, latitude between 0 nd 40.821205
Staten island has a zip code between 10301 and 10314

Data Dictionary
Crash Date: Day of the accident
Crash Time: Time of the accident
Borough: The town or city the accident happened in new york
On Street Name: Name of main road where the accident happened
Cross Street Name: Name of the intersection to the main road where the accident happened
Off Street Name: Name of the street that is not directly connected to a main road like an alleyway or a parking lot

In [3]:
df = pd.read_csv(r'C:\Users\Seyi\Desktop\NYC Accidents 2020.csv')
df.head(50)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-08-29,15:40:00,BRONX,10466.0,40.892100,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.690500,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,Unspecified,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN
2,2020-08-29,18:20:00,NaN,NaN,40.816500,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,2020-08-29,00:00:00,BRONX,10459.0,40.824720,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.649890,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,Unspecified,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN
5,2020-08-29,03:29:00,NaN,NaN,40.682310,-73.844950,POINT (-73.84495 40.68231),WOODHAVEN BOULEVARD,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4342721,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
6,2020-08-29,19:30:00,BRONX,10459.0,40.825226,-73.887780,POINT (-73.88778 40.825226),LONGFELLOW AVENUE,EAST 165 STREET,NaN,...,NaN,NaN,NaN,NaN,4343004,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
7,2020-08-29,00:00:00,NaN,NaN,40.800160,-73.935380,POINT (-73.93538 40.80016),2 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4343342,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
8,2020-08-29,19:50:00,BRONX,10466.0,40.894314,-73.860270,POINT (-73.86027 40.894314),EAST 233 STREET,CARPENTER AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,4343030,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN
9,2020-08-29,09:20:00,QUEENS,11385.0,40.706780,-73.908880,POINT (-73.90888 40.70678),NaN,NaN,565 WOODWARD AVENUE,...,NaN,NaN,NaN,NaN,4343040,Sedan,NaN,NaN,NaN,NaN
10,2020-08-29,00:07:00,QUEENS,11436.0,40.680237,-73.797740,POINT (-73.79774 40.680237),NaN,NaN,116-52 144 STREET,...,Unspecified,Unspecified,NaN,NaN,4342743,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN
11,2020-08-29,14:00:00,QUEENS,11433.0,40.704422,-73.792854,POINT (-73.792854 40.704422),ARCHER AVENUE,MERRICK BOULEVARD,NaN,...,Passing Too Closely,NaN,NaN,NaN,4343448,Bus,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
12,2020-08-29,21:33:00,BRONX,10455.0,40.812965,-73.916100,POINT (-73.9161 40.812965),EAST 146 STREET,BROOK AVENUE,NaN,...,NaN,NaN,NaN,NaN,4343143,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
13,2020-08-29,22:53:00,BROOKLYN,11249.0,40.701660,-73.961464,POINT (-73.961464 40.70166),WILLIAMSBURG STREET WEST,WYTHE AVENUE,NaN,...,NaN,NaN,NaN,NaN,4343074,Sedan,NaN,NaN,NaN,NaN
14,2020-08-29,04:14:00,NaN,NaN,40.835373,-73.842186,POINT (-73.842186 40.835373),WATERBURY AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4342716,Station Wagon/Sport Utility Vehicle,Motorcycle,NaN,NaN,NaN
15,2020-08-29,06:35:00,NaN,NaN,40.659650,-73.773834,POINT (-73.773834 40.65965),ROCKAWAY BOULEVARD,NASSAU EXPRESSWAY,NaN,...,Unspecified,NaN,NaN,NaN,4342746,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
16,2020-08-29,13:00:00,BROOKLYN,11206.0,40.699707,-73.957180,POINT (-73.95718 40.699707),BEDFORD AVENUE,WALLABOUT STREET,NaN,...,Unspecified,NaN,NaN,NaN,4343077,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
17,2020-08-29,10:30:00,QUEENS,11385.0,40.712200,-73.862080,POINT (-73.86208 40.7122),METROPOLITAN AVENUE,COOPER AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4342892,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
18,2020-08-29,12:29:00,BRONX,10453.0,40.861862,-73.912820,POINT (-73.91282 40.861862),WEST FORDHAM ROAD,MAJOR DEEGAN EXPRESSWAY,NaN,...,View Obstructed/Limited,NaN,NaN,NaN,4342833,Pick-up Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
19,2020-08-29,10:35:00,BROOKLYN,11211.0,40.710957,-73.951126,POINT (-73.951126 40.710957),UNION AVENUE,GRAND STREET,NaN,...,Other Vehicular,NaN,NaN,NaN,4343073,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
20,2020-08-29,13:55:00,BROOKLYN,11231.0,40.674730,-74.000290,POINT (-74.00029 40.67473),HAMILTON AVENUE,GARNET STREET,NaN,...,Unspecified,NaN,NaN,NaN,4342786,Sedan,Sedan,NaN,NaN,NaN
21,2020-08-29,00:30:00,NaN,NaN,40.665840,-73.755510,POINT (-73.75551 40.66584),BELT PARKWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4342671,Sedan,Sedan,NaN,NaN,NaN
22,2020-08-29,06:30:00,NaN,NaN,40.650520,-73.733090,POINT (-73.73309 40.65052),CRAFT AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4342766,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
23,2020-08-29,19:00:00,NaN,NaN,40.839680,-73.929276,POINT (-73.929276 40.83968),MAJOR DEEGAN EXPRESSWAY,NaN,NaN,...,Following Too Closely,Unspecified,NaN,NaN,4342727,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN
24,2020-08-29,01:45:00,MANHATTAN,10029.0,40.794770,-73.932470,POINT (-73.93247 40.79477),NaN,NaN,545 EAST 116 STREET,...,NaN,NaN,NaN,NaN,4343343,Sedan,NaN,NaN,NaN,NaN
25,2020-08-29,08:45:00,QUEENS,11411.0,40.701042,-73.746360,POINT (-73.74636 40.701042),NaN,NaN,114-52 208 STREET,...,NaN,NaN,NaN,NaN,4343537,Sedan,NaN,NaN,NaN,NaN
26,2020-08-29,23:19:00,BROOKLYN,11226.0,40.639620,-73.954770,POINT (-73.95477 40.63962),NEWKIRK AVENUE,FLATBUSH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4342807,Pick-up Truck,Motorbike,NaN,NaN,NaN
27,2020-08-29,07:10:00,NaN,NaN,40.674347,-73.820710,POINT (-73.82071 40.674347),118 STREET,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,4342796,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
28,2020-08-29,00:56:00,BRONX,10461.0,40.843070,-73.848076,POINT (-73.848076 40.84307),EAST TREMONT AVENUE,SILVER STREET,NaN,...,Unspecified,NaN,NaN,NaN,4342715,Box Truck,Motorcycle,NaN,NaN,NaN
29,2020-08-29,13:20:00,NaN,NaN,40.680954,-73.967680,POINT (-73.96768 40.680954),PACIFIC STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4343433,Sedan,Sedan,NaN,NaN,NaN
30,2020-08-29,17:45:00,NaN,NaN,40.729480,-73.972100,POINT (-73.9721 40.72948),FDR DRIVE,NaN,NaN,...,NaN,NaN,NaN,NaN,4342728,Sedan,NaN,NaN,NaN,NaN
31,2020-08-29,22:11:00,BROOKLYN,11229.0,40.608727,-73.954020,POINT (-73.95402 40.608727),NaN,NaN,1925 QUENTIN ROAD,...,Unspecified,NaN,NaN,NaN,4343158,Sedan,Bike,NaN,NaN,NaN
32,2020-08-29,14:00:00,NaN,NaN,40.806293,-73.936030,POINT (-73.93603 40.806293),LEXINGTON AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4343336,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
33,2020-08-29,16:30:00,MANHATTAN,10002.0,40.717056,-73.990270,POINT (-73.99027 40.717056),NaN,NaN,333 GRAND STREET,...,Unspecified,NaN,NaN,NaN,4343011,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
34,2020-08-29,11:25:00,BROOKLYN,11221.0,40.688610,-73.923190,POINT (-73.92319 40.68861),NaN,NaN,820 MONROE STREET,...,NaN,NaN,NaN,NaN,4343421,Sedan,NaN,NaN,NaN,NaN
35,2020-08-29,02:20:00,NaN,NaN,40.816204,-73.914230,POINT (-73.91423 40.816204),BROOK AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4343139,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
36,2020-08-29,05:40:00,BRONX,10458.0,40.858190,-73.884350,POINT (-73.88435 40.85819),EAST FORDHAM ROAD,HUGHES AVENUE,NaN,...,Passing Too Closely,NaN,NaN,NaN,4343352,Sedan,Sedan,NaN,NaN,NaN
37,2020-08-29,18:36:00,BRONX,10459.0,40.828780,-73.889010,POINT (-73.88901 40.82878),HOME STREET,BRYANT AVENUE,NaN,...,NaN,NaN,NaN,NaN,4343219,Sedan,NaN,NaN,NaN,NaN
38,2020-08-29,19:50:00,BRONX,10457.0,40.851753,-73.889435,POINT (-73.889435 40.851753),NaN,NaN,611 EAST 182 STREET,...,Unsafe Speed,NaN,NaN,NaN,4343350,Taxi,Taxi,NaN,NaN,NaN
39,2020-08-29,17:00:00,BROOKLYN,11214.0,40.612556,-74.003790,POINT (-74.00379 40.612556),NaN,NaN,1612 81 STREET,...,Unspecified,NaN,NaN,NaN,4342749,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
40,2020-08-29,21:45:00,BROOKLYN,11203.0,40.652462,-73.922850,POINT (-73.92285 40.652462),KINGS HIGHWAY,CHURCH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4343396,Sedan,Motorbike,NaN,NaN,NaN
41,2020-08-29,14:30:00,BRONX,10453.0,40.855785,-73.905580,POINT (-73.90558 40.855785),JEROME AVENUE,WEST 181 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4343377,Sedan,Sedan,NaN,NaN,NaN
42,2020-08-29,20:51:00,QUEENS,11411.0,40.694534,-73.740450,POINT (-73.74045 40.694534),NaN,NaN,117-39 220 STREET,...,NaN,NaN,NaN,NaN,4342767,Sedan,NaN,NaN,NaN,NaN
43,2020-08-29,17:17:00,NaN,NaN,40.687190,-73.974625,POINT (-73.974625 40.68719),LAFAYETTE AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4343042,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
44,2020-08-29,20:53:00,BRONX,10456.0,40.831482,-73.899760,POINT (-73.89976 40.831482),NaN,NaN,1315 BOSTON ROAD,...,Unspecified,NaN,NaN,NaN,4343192,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
45,2020-08-29,19:34:00,MANHATTAN,10032.0,40.838158,-73.942980,POINT (-73.94298 40.838158),NaN,NaN,619 WEST 163 STREET,...,Unspecified,NaN,NaN,NaN,4343050,Bike,Motorcycle,NaN,NaN,NaN
46,2020-08-29,00:00:00,BRONX,10466.0,40.895134,-73.852160,POINT (-73.85216 40.895134),DIGNEY AVENUE,PITMAN AVENUE,NaN,...,NaN,NaN,NaN,NaN,4343251,Sedan,NaN,NaN,NaN,NaN
47,2020-08-29,15:50:00,BROOKLYN,11226.0,40.637276,-73.958595,POINT (-73.958595 40.637276),NaN,NaN,1030 OCEAN AVENUE,...,Unspecified,NaN,NaN,NaN,4342811,Sedan,Sedan,NaN,NaN,NaN
48,2020-08-29,00:00:00,NaN,NaN,40.730446,-73.980350,POINT (-73.98035 40.730446),EAST 14 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4342672,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
49,2020-08-29,14:17:00,NaN,NaN,NaN,NaN,NaN,GRAND CENTRAL PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4343390,Sedan,NaN,NaN,NaN,NaN

In [4]:
pd.set_option('display.max_columns', 30)

In [5]:
dt = df.copy() #made a copy of the dataset

In [165]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70318 entries, 0 to 74880
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Crash_date                     70318 non-null  datetime64[ns]
 1   Crash_time                     70318 non-null  object
 2   Borough                        70318 non-null  object
 3   Latitude                       70318 non-null  float64
 4   Longitude                      70318 non-null  float64
 5   On_street_name                 70318 non-null  object
 6   Cross_street_name              70318 non-null  object
 7   Off_street_name                70318 non-null  object
 8   Number_of_persons_injured      70318 non-null  int64
 9   Number_of_persons_killed       70318 non-null  int64
 10  Number_of_pedestrians_injured  70318 non-null  int64
 11  Number_of_pedestrians_killed   70318 non-null  int64
 12  Number_of_cyclist_injured      70318 non-null  int64
 13  Number_of_cyclist_killed       70318 non-null  int64
 14  Number_of_motorist_injured     70318 non-null  int64
 15  Number_of_motorist_killed      70318 non-null  int64
 16  Contributing_factor_vehicle_1  70318 non-null  object
 17  Contributing_factor_vehicle_2  70318 non-null  object
 18  Collision_id                   70318 non-null  int64
 19  Vehicle_type_code_1            70318 non-null  object
 20  Vehicle_type_code_2            50160 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(9), object(9)
memory usage: 13.8+ MB

In [164]:
dt.isnull().sum()

Crash_date                           0
Crash_time                           0
Borough                              0
Latitude                             0
Longitude                            0
On_street_name                       0
Cross_street_name                    0
Off_street_name                      0
Number_of_persons_injured            0
Number_of_persons_killed             0
Number_of_pedestrians_injured        0
Number_of_pedestrians_killed         0
Number_of_cyclist_injured            0
Number_of_cyclist_killed             0
Number_of_motorist_injured           0
Number_of_motorist_killed            0
Contributing_factor_vehicle_1        0
Contributing_factor_vehicle_2        0
Collision_id                         0
Vehicle_type_code_1                  0
Vehicle_type_code_2              20158
dtype: int64

In [163]:
(dt.isnull().sum()/df.shape[0]) * 100

Crash_date                        0.000000
Crash_time                        0.000000
Borough                           0.000000
Latitude                          0.000000
Longitude                         0.000000
On_street_name                    0.000000
Cross_street_name                 0.000000
Off_street_name                   0.000000
Number_of_persons_injured         0.000000
Number_of_persons_killed          0.000000
Number_of_pedestrians_injured     0.000000
Number_of_pedestrians_killed      0.000000
Number_of_cyclist_injured         0.000000
Number_of_cyclist_killed          0.000000
Number_of_motorist_injured        0.000000
Number_of_motorist_killed         0.000000
Contributing_factor_vehicle_1     0.000000
Contributing_factor_vehicle_2     0.000000
Collision_id                      0.000000
Vehicle_type_code_1               0.000000
Vehicle_type_code_2              26.920046
dtype: float64

Remove location, contributing factor vehicle 3,4,5 and vehicle type code 3,4,5

Data Cleaning

In [9]:
#Columns
dt.columns = dt.columns.str.replace(' ', '_').str.capitalize()
dt.drop(columns = ['Location', 'Zip_code', 'Contributing_factor_vehicle_3', 'Contributing_factor_vehicle_4', 'Contributing_factor_vehicle_5', 'Vehicle_type_code_3', 'Vehicle_type_code_4', 'Vehicle_type_code_5'], inplace = True)

dt.columns

Index(['Crash_date', 'Crash_time', 'Borough', 'Latitude', 'Longitude',
       'On_street_name', 'Cross_street_name', 'Off_street_name',
       'Number_of_persons_injured', 'Number_of_persons_killed',
       'Number_of_pedestrians_injured', 'Number_of_pedestrians_killed',
       'Number_of_cyclist_injured', 'Number_of_cyclist_killed',
       'Number_of_motorist_injured', 'Number_of_motorist_killed',
       'Contributing_factor_vehicle_1', 'Contributing_factor_vehicle_2',
       'Collision_id', 'Vehicle_type_code_1', 'Vehicle_type_code_2'],
      dtype='object')

In [10]:
#Crash date
dt.Crash_date = dt['Crash_date'].astype('datetime64[ns]')
dt.Crash_date.info()
dt['Borough'] = dt['Borough'].str.capitalize()

<class 'pandas.core.series.Series'>
RangeIndex: 74881 entries, 0 to 74880
Series name: Crash_date
Non-Null Count  Dtype
--------------  -----
74881 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 585.1 KB

In [11]:
#LATITUDE
#checking the range of latitude, zip code and longitude for each borough
#dt[dt['Borough'] == 'Brooklyn'][['Latitude', 'Longitude', 'Zip_code']].describe() 
#dt[dt['Borough'] == 'Bronx'][['Latitude', 'Longitude', 'Zip_code']].describe()
#dt[dt['Borough'] == 'Manhattan'][['Latitude', 'Longitude', 'Zip_code']].describe()
#dt[dt['Borough'] == 'Queens'][['Latitude', 'Longitude', 'Zip_code']].describe()
#dt[dt['Borough'] == 'Staten island'][['Latitude', 'Longitude', 'Zip_code']].describe()
#MINIMUM AND MAXIMUM VALUES
#brooklyn lat(0, 40.821205) lon(-74.040820, 0) zip(11201, 11421)
#bronx lat(0, 40.912884) lon(-73.931610, 0) zip(10451, 10475)
#manhattan lat(0, 40.873020	) lon(-74.017890, 0) zip(10000, 10282)
#queens lat(0, 40.797800) lon(-73.958630, 0), zip(11001, 11697.)
#staten lat(0, 40.648228) lon(74.249760, 0) zip(10301, 10314)

#HANDLING OUTLIERS IN LATITUDE COLUMN
#replaced the 0.0 latitude value which is an outlier with the median latitude for each borough
#BROOKLYN
dt[(dt['Latitude'] == 0) & (dt['Borough'] == 'Brooklyn')]['Latitude'].count() #count of 0 values in the latitude column of brooklyn borough
lat_brk_ind = dt[(dt['Latitude'] == 0) & (dt['Borough'] == 'Brooklyn')]['Latitude'].index
dt.loc[lat_brk_ind, 'Latitude'] = dt.loc[lat_brk_ind, 'Latitude'].replace(0.0, dt[dt['Borough'] == 'Brooklyn']['Latitude'].median())
dt[(dt['Borough'] == 'Brooklyn')]['Latitude'].describe()
#BRONX
dt[(dt['Latitude'] == 0) & (dt['Borough'] == 'Bronx')]['Latitude'].count()
lat_brx_ind = dt[(dt['Latitude'] == 0) & (dt['Borough'] == 'Bronx')]['Latitude'].index
dt.loc[lat_brx_ind, 'Latitude'] = dt.loc[lat_brx_ind, 'Latitude'].replace(0.0, dt[dt['Borough'] == 'Bronx']['Latitude'].median())
dt[(dt['Borough'] == 'Bronx')]['Latitude'].describe()
#MANHATTAN
dt[(dt['Latitude'] == 0) & (dt['Borough'] == 'Manhattan')]['Latitude'].count()
lat_man_ind = dt[(dt['Latitude'] == 0) & (dt['Borough'] == 'Manhattan')]['Latitude'].index
dt.loc[lat_man_ind, 'Latitude'] = dt.loc[lat_man_ind, 'Latitude'].replace(0.0, dt[dt['Borough'] == 'Manhattan']['Latitude'].median())
dt[(dt['Borough'] == 'Manhattan')]['Latitude'].describe()
#QUEENS
dt[(dt['Latitude'] == 0) & (dt['Borough'] == 'Queens')]['Latitude'].count()
lat_que_ind = dt[(dt['Latitude'] == 0) & (dt['Borough'] == 'Queens')]['Latitude'].index
dt.loc[lat_que_ind, 'Latitude'] = dt.loc[lat_que_ind, 'Latitude'].replace(0.0, dt[dt['Borough'] == 'Queens']['Latitude'].median())
dt[(dt['Borough'] == 'Queens')]['Latitude'].describe()
#STATEN ISLAND
dt[(dt['Latitude'] == 0) & (dt['Borough'] == 'Staten island')]['Latitude'].count()
lat_sti_ind = dt[(dt['Latitude'] == 0) & (dt['Borough'] == 'Staten island')]['Latitude'].index
dt.loc[lat_sti_ind, 'Latitude'] = dt.loc[lat_sti_ind, 'Latitude'].replace(0.0, dt[dt['Borough'] == 'Staten island']['Latitude'].median())
dt[(dt['Borough'] == 'Staten island')]['Latitude'].describe()

#Dropped columns with null values across borough, zip code and latitude with 0.0 value and also null values
drz = dt[(dt['Borough'].isnull()) & (dt['Latitude'] == 0)].index
dt.drop(index = drz, axis = 0, inplace = True)
drp = dt[(dt['Borough'].isnull()) & (dt['Latitude'].isnull())].index
dt.drop(index = drp, axis = 0, inplace = True)

#Replacing null latitude values for each borough with the median value of the latitude
#BROOKLYN
lat_ind = dt[(dt['Borough'] == 'Brooklyn') & dt['Latitude'].isnull()].index
dt.loc[lat_ind, 'Latitude'] = dt.loc[lat_ind, 'Latitude'].fillna(dt[dt['Borough'] == 'Brooklyn']['Latitude'].median())
dt[(dt['Borough'] == 'Brooklyn') & dt['Latitude'].isnull()]['Latitude'].isnull().sum()

#QUEENS
ind = dt[(dt['Borough'] == 'Queens') & (dt['Latitude'].isnull())]['Borough'].index
dt.loc[ind, 'Latitude'] = dt.loc[ind, 'Latitude'].fillna(dt[dt['Borough'] == 'Queens']['Latitude'].median())
dt[dt['Borough'] == 'Queens']['Latitude'].isnull().sum()

#MANHATTAN
ind = dt[(dt['Borough'] == 'Manhattan') & (dt['Latitude'].isnull())]['Borough'].index
dt.loc[ind, 'Latitude'] = dt.loc[ind, 'Latitude'].fillna(dt[dt['Borough'] == 'Manhattan']['Latitude'].median())
dt[dt['Borough'] == 'Manhattan']['Latitude'].isnull().sum()

#STATEN ISLAND
ind = dt[(dt['Borough'] == 'Staten island') & (dt['Latitude'].isnull())]['Borough'].index
dt.loc[ind, 'Latitude'] = dt.loc[ind, 'Latitude'].fillna(dt[dt['Borough'] == 'Staten island']['Latitude'].median())
dt[dt['Borough'] == 'Staten island']['Latitude'].isnull().sum()

0

In [12]:
lat_ind = dt[(dt['Borough'] == 'Bronx') & dt['Latitude'].isnull()].index
dt.loc[lat_ind, 'Latitude'] = dt.loc[lat_ind, 'Latitude'].fillna(dt[dt['Borough'] == 'Bronx']['Latitude'].median())
dt[(dt['Borough'] == 'Brooklyn') & dt['Latitude'].isnull()]['Latitude'].isnull().sum()

0

In [13]:
#dt[dt['Borough'] == 'Brooklyn']['Latitude'].max()
#dt[(dt['Latitude'] == 0) & (dt['Borough'] == 'Brooklyn')].index
#dt[(dt['Borough'] == 'Staten island')]['Latitude'].plot(kind = 'box')
#dt[dt['Borough'] == 'Staten island']['Latitude'].describe()

In [14]:
#BOROUGH
#dt['Borough'] = dt['Borough'].str.capitalize()
#filling the nulls in the borough column with the most occuring borough of each latitude range
md = dt[(dt['Latitude'] >= dt[dt['Borough'] == 'Brooklyn']['Latitude'].min()) & (dt['Latitude'] <= dt[dt['Borough'] == 'Brooklyn']['Latitude'].max())]['Borough'].mode()[0]
db = dt[(dt['Latitude'] >= dt[dt['Borough'] == 'Brooklyn']['Latitude'].min()) & (dt['Latitude'] <= dt[dt['Borough'] == 'Brooklyn']['Latitude'].max())]
ind = db[db['Borough'].isnull()].index
ind
dt.loc[ind, 'Borough'] = dt.loc[ind, 'Borough'].fillna(md)

val_brx = dt[(dt['Latitude'] >= dt[dt['Borough'] == 'Bronx']['Latitude'].min()) & (dt['Latitude'] <= dt[dt['Borough'] == 'Bronx']['Latitude'].max())]['Borough'].value_counts(dropna = False)
md_brx = dt[(dt['Latitude'] >= dt[dt['Borough'] == 'Bronx']['Latitude'].min()) & (dt['Latitude'] <= dt[dt['Borough'] == 'Bronx']['Latitude'].max())]['Borough'].mode()[0]
dbrx = dt[(dt['Latitude'] >=  dt[dt['Borough'] == 'Bronx']['Latitude'].min()) & (dt['Latitude'] <= dt[dt['Borough'] == 'Bronx']['Latitude'].max())]
dbrx_ind = dbrx[dbrx['Borough'].isnull()].index
dt.loc[dbrx_ind, 'Borough'] = dt.loc[dbrx_ind, 'Borough'].fillna(md_brx)

#dt[(dt['Latitude'] >= dt[dt['Borough'] == 'Queens']['Latitude'].min()) & (dt['Latitude'] <= dt[dt['Borough'] == 'Queens']['Latitude'].max())]['Borough'].value_counts(dropna = False)
md_que = dt[(dt['Latitude'] >=  dt[dt['Borough'] == 'Queens']['Latitude'].min()) & (dt['Latitude'] <= dt[dt['Borough'] == 'Queens']['Latitude'].max())]['Borough'].mode()[0]
db_que = dt[(dt['Latitude'] >=  dt[dt['Borough'] == 'Queens']['Latitude'].min()) & (dt['Latitude'] <= dt[dt['Borough'] == 'Queens']['Latitude'].max())]
que_ind = db_que[db_que['Borough'].isnull()].index
que_ind
dt.loc[que_ind, 'Borough'] = dt.loc[que_ind, 'Borough'].fillna(md_que)

dt[(dt['Latitude'] >= dt[dt['Borough'] == 'Staten island']['Latitude'].min()) & (dt['Latitude'] <= dt[dt['Borough'] == 'Staten island']['Latitude'].max())]['Borough'].value_counts(dropna = False)
md_sti = dt[(dt['Latitude'] >=  dt[dt['Borough'] == 'Staten island']['Latitude'].min()) & (dt['Latitude'] <= dt[dt['Borough'] == 'Staten island']['Latitude'].max())]['Borough'].mode()[0]
db_sti = dt[(dt['Latitude'] >=  dt[dt['Borough'] == 'Staten island']['Latitude'].min()) & (dt['Latitude'] <= dt[dt['Borough'] == 'Staten island']['Latitude'].max())]
sti_ind = db_sti[db_sti['Borough'].isnull()].index
sti_ind
dt.loc[sti_ind, 'Borough'] = dt.loc[sti_ind, 'Borough'].fillna(md_sti)

#this falls outside the latitude ranges of each borough 
nll = dt[dt['Borough'].isnull()].index
dt.loc[nll, 'Borough'] = dt.loc[nll, 'Borough'].fillna('Unknown')

In [66]:
dt[dt['Longitude'] == 0.0]['Borough'].value_counts()
#36211, 36212, 36215, 36231, 36234, 36266, 36316, 49187

Series([], Name: count, dtype: int64)

In [89]:
#LONGITUDE
dt[dt['Longitude'] == 0.0]['Borough'].value_counts() #boroughs with 0.0 longitude values and the count
brk_ind = dt[(dt['Borough'] == 'Brooklyn') & (dt['Longitude'] == 0)].index
med = dt[(dt['Borough'] == 'Brooklyn')]['Longitude'].median()
dt.loc[brk_ind, 'Longitude'] = dt.loc[brk_ind, 'Longitude'].replace(0.0, med)

que_ind = dt[(dt['Borough'] == 'Queens') & (dt['Longitude'] == 0)].index
que_ind
med = dt[(dt['Borough'] == 'Queens')]['Longitude'].median()
dt.loc[que_ind, 'Longitude'] = dt.loc[que_ind, 'Longitude'].replace(0.0, med)

brx_ind = dt[(dt['Borough'] == 'Bronx') & (dt['Longitude'] == 0)].index
brx_ind
med = dt[(dt['Borough'] == 'Bronx')]['Longitude'].median()
dt.loc[brx_ind, 'Longitude'] = dt.loc[brx_ind, 'Longitude'].replace(0.0, med)

man_ind = dt[(dt['Borough'] == 'Manhattan') & (dt['Longitude'] == 0)].index
man_ind
med = dt[(dt['Borough'] == 'Manhattan')]['Longitude'].median()
dt.loc[man_ind, 'Longitude'] = dt.loc[man_ind, 'Longitude'].replace(0.0, med)

sti_ind = dt[(dt['Borough'] == 'Staten island') & (dt['Longitude'] == 0)].index
sti_ind
med = dt[(dt['Borough'] == 'Staten island')]['Longitude'].median()
dt.loc[sti_ind, 'Longitude'] = dt.loc[sti_ind, 'Longitude'].replace(0.0, med)

#HANDLING NULL VALUES IN THE LONGITUDE COLUMN
ind_brk = dt[(dt['Borough'] == 'Brooklyn') & (dt['Longitude'].isnull())].index
brk_md = dt[dt['Borough'] == 'Brooklyn']['Longitude'].median()
brk_md
dt.loc[ind_brk, 'Longitude'] = dt.loc[ind_brk, 'Longitude'].fillna(brk_md)

ind_que = dt[(dt['Borough'] == 'Queens') & (dt['Longitude'].isnull())].index
que_mid = dt[dt['Borough'] == 'Queens']['Longitude'].median()
que_mid
dt.loc[ind_que, 'Longitude'] = dt.loc[ind_que, 'Longitude'].fillna(que_mid)

ind_bnx = dt[(dt['Borough'] == 'Bronx') & (dt['Longitude'].isnull())].index
bnx_mid = dt[dt['Borough'] == 'Bronx']['Longitude'].median()
bnx_mid
dt.loc[ind_bnx, 'Longitude'] = dt.loc[ind_bnx, 'Longitude'].fillna(bnx_mid)

ind_man = dt[(dt['Borough'] == 'Manhattan') & (dt['Longitude'].isnull())].index
man_mid = dt[dt['Borough'] == 'Manhattan']['Longitude'].median()
man_mid
dt.loc[ind_man, 'Longitude'] = dt.loc[ind_man, 'Longitude'].fillna(man_mid)

ind_sti = dt[(dt['Borough'] == 'Staten island') & (dt['Longitude'].isnull())].index
sti_mid = dt[dt['Borough'] == 'Staten island']['Longitude'].median()
sti_mid
dt.loc[ind_sti, 'Longitude'] = dt.loc[ind_sti, 'Longitude'].fillna(sti_mid)

In [109]:
#ON STREET NAME
dt['On_street_name'] = dt['On_street_name'].str.capitalize()
dt['On_street_name'] = dt['On_street_name'].fillna('Unspecified')
dt['On_street_name']

0           Pratt avenue
1        Bushwick avenue
2               8 avenue
3            Unspecified
4            Unspecified
              ...
74876        Unspecified
74877        Unspecified
74878        Unspecified
74879     East 48 street
74880        Unspecified
Name: On_street_name, Length: 70318, dtype: object

In [107]:
#OFF STREET NAME
dt['Off_street_name'] = dt['Off_street_name'].str.capitalize()
dt['Off_street_name'] = dt['Off_street_name'].fillna('Unspecified')
dt['Off_street_name']

0                  Unspecified
1                  Unspecified
2                  Unspecified
3          1047 simpson street
4           4609 snyder avenue
                 ...
74876    1122 intervale avenue
74877       3401 guider avenue
74878        1810 mahan avenue
74879              Unspecified
74880    70-25 park drive east
Name: Off_street_name, Length: 70318, dtype: object

In [111]:
#CROSS STREET NAME
dt['Cross_street_name'] = dt['Cross_street_name'].str.capitalize()
dt['Cross_street_name'] = dt['Cross_street_name'].fillna('Unspecified')
dt['Cross_street_name']

0          Strang avenue
1        Palmetto street
2            Unspecified
3            Unspecified
4            Unspecified
              ...
74876        Unspecified
74877        Unspecified
74878        Unspecified
74879           2 avenue
74880        Unspecified
Name: Cross_street_name, Length: 70318, dtype: object

In [169]:
#CONTRIBUTING FACTOR VEHICLE 1
dt['Contributing_factor_vehicle_1'] = dt['Contributing_factor_vehicle_1'].str.capitalize()
dt['Contributing_factor_vehicle_1'] = dt['Contributing_factor_vehicle_1'].fillna('Unspecified')
dt['Contributing_factor_vehicle_1'].value_counts()

Contributing_factor_vehicle_1
Unspecified                                              18842
Driver inattention/distraction                           18143
Failure to yield right-of-way                             4610
Following too closely                                     4456
Backing unsafely                                          2779
Passing or lane usage improper                            2635
Passing too closely                                       2608
Other vehicular                                           2096
Unsafe speed                                              1820
Unsafe lane changing                                      1571
Traffic control disregarded                               1445
Turning improperly                                        1335
Driver inexperience                                       1205
Reaction to uninvolved vehicle                            1045
Alcohol involvement                                        918
View obstructed/limited                                    614
Pavement slippery                                          603
Pedestrian/bicyclist/other pedestrian error/confusion      531
Aggressive driving/road rage                               486
Oversized vehicle                                          372
Brakes defective                                           275
Fell asleep                                                220
Obstruction/debris                                         163
Passenger distraction                                      162
Steering failure                                           152
Outside car distraction                                    144
Lost consciousness                                         121
Illnes                                                     115
Glare                                                      113
Tire failure/inadequate                                    104
Fatigued/drowsy                                             85
Pavement defective                                          76
Failure to keep right                                       76
Animals action                                              74
Drugs (illegal)                                             58
Driverless/runaway vehicle                                  53
Accelerator defective                                       44
Cell phone (hand-held)                                      27
Traffic control device improper/non-working                 27
Physical disability                                         25
Lane marking improper/inadequate                            18
Headlights defective                                        10
Eating or drinking                                           9
Tinted windows                                               8
Other lighting defects                                       7
Tow hitch defective                                          6
Prescription medication                                      6
Vehicle vandalism                                            6
Using on board navigation device                             6
Cell phone (hands-free)                                      4
Shoulders defective/improper                                 3
Other electronic device                                      3
Texting                                                      2
Listening/using headphones                                   1
Windshield inadequate                                        1
Name: count, dtype: int64

In [168]:
#CONTRIBUTING FACTOR VEHICLE 2
dt['Contributing_factor_vehicle_2'] = dt['Contributing_factor_vehicle_2'].str.capitalize()
dt['Contributing_factor_vehicle_2'] = dt['Contributing_factor_vehicle_2'].fillna('Unspecified')
dt['Contributing_factor_vehicle_2'].value_counts()

Contributing_factor_vehicle_2
Unspecified                                              61593
Driver inattention/distraction                            3544
Other vehicular                                            845
Following too closely                                      791
Passing or lane usage improper                             515
Failure to yield right-of-way                              467
Passing too closely                                        377
Unsafe speed                                               303
Unsafe lane changing                                       263
Traffic control disregarded                                262
Backing unsafely                                           182
Turning improperly                                         173
Reaction to uninvolved vehicle                             156
Driver inexperience                                        134
Pedestrian/bicyclist/other pedestrian error/confusion      132
View obstructed/limited                                    121
Pavement slippery                                           91
Aggressive driving/road rage                                65
Oversized vehicle                                           53
Alcohol involvement                                         47
Obstruction/debris                                          28
Failure to keep right                                       27
Outside car distraction                                     21
Passenger distraction                                       20
Lane marking improper/inadequate                            19
Glare                                                       17
Traffic control device improper/non-working                 14
Brakes defective                                            11
Other lighting defects                                       7
Cell phone (hand-held)                                       7
Driverless/runaway vehicle                                   5
Pavement defective                                           5
Other electronic device                                      5
Fell asleep                                                  4
Tinted windows                                               3
Drugs (illegal)                                              2
Steering failure                                             2
Lost consciousness                                           2
Using on board navigation device                             1
Listening/using headphones                                   1
Tire failure/inadequate                                      1
Tow hitch defective                                          1
Fatigued/drowsy                                              1
Name: count, dtype: int64

In [173]:
#VEHICLE TYPE CODE 1
dt['Vehicle_type_code_1'] = dt['Vehicle_type_code_1'].str.capitalize()
dt['Vehicle_type_code_1'] = dt['Vehicle_type_code_1'].fillna('Unspecified')
dt['Vehicle_type_code_1'].value_counts()
#dt[dt['Vehicle_type_code_1'].str.contains('Fdny')]['Vehicle_type_code_1'].unique()

Vehicle_type_code_1
Sedan                                  32163
Station wagon/sport utility vehicle    25910
Taxi                                    2634
Pick-up truck                           1749
Box truck                               1345
Bus                                      913
Bike                                     802
Unspecified                              619
Tractor truck diesel                     532
Motorcycle                               485
Van                                      421
Ambulance                                402
E-scooter                                247
Dump                                     204
Convertible                              204
E-bike                                   156
4 dr sedan                               145
Pk                                       136
Flat bed                                 124
Garbage or refuse                        124
Moped                                     96
Carry all                                 75
Tow truck / wrecker                       62
Tractor truck gasoline                    61
Chassis cab                               57
Tanker                                    48
Motorscooter                              44
Motorbike                                 37
Limo                                      35
School bus                                23
Concrete mixer                            22
Fire truck                                21
Trailer                                   19
Armored truck                             17
Flat rack                                 15
Beverage truck                            14
Lift boom                                 12
3-door                                    12
2 dr sedan                                12
Ambu                                      11
Refrigerated van                          10
Multi-wheeled vehicle                      9
Truck                                      8
Stake or rack                              7
Tow truck                                  7
Bulk agriculture                           7
Delv                                       6
Fdny ambul                                 6
Minibike                                   6
Pick up                                    5
Usps                                       5
Postal tru                                 5
Firetruck                                  5
Fdny truck                                 5
Open body                                  4
Util                                       4
Fdny                                       4
Fork lift                                  4
Amb                                        4
Unknown                                    4
Unk                                        4
Fdny fire                                  4
Refg                                       3
Delivery v                                 3
Flatbed                                    3
Fire engin                                 3
Commercial                                 3
Cargo van                                  3
Van camper                                 3
Delivery                                   3
Dump truck                                 3
Forklift                                   3
Trk                                        3
Work van                                   3
Usps truck                                 2
Suburban                                   2
Government                                 2
Minicycle                                  2
Scooter                                    2
Fdny engin                                 2
Pick up tr                                 2
Golf cart                                  2
Trac                                       2
Pickup with mounted camper                 2
Utility tr                                 2
Tractor                                    2
Com                                        2
Tractor tr                                 2
Garbage tr                                 2
Light trai                                 2
Fdny ladde                                 1
Cross                                      1
Us postal                                  1
Delviery                                   1
Lawnmower                                  1
Usps #7530                                 1
Horse trai                                 1
Ford econo                                 1
Tow                                        1
Pick                                       1
Omr                                        1
Fdny emt                                   1
E-bik                                      1
Lunch wagon                                1
Hearse                                     1
Trl                                        1
P/sh                                       1
Escavator                                  1
Usps posta                                 1
Motorscoot                                 1
Freight tr                                 1
White ambu                                 1
Dirt bike                                  1
Utility.                                   1
Freig delv                                 1
Pc                                         1
Mail truck                                 1
Motorized home                             1
Trail                                      1
Backhoe                                    1
Motor scoo                                 1
Postal ser                                 1
Oms                                        1
Emergency                                  1
City                                       1
Tr-trailer                                 1
Esu rescue                                 1
D/v wb                                     1
Snow plow                                  1
Yellow cab                                 1
Bobcat                                     1
Nat grid t                                 1
Se                                         1
Mta                                        1
Hopper                                     1
Fdny firet                                 1
Backh                                      1
Lit direct                                 1
Tr                                         1
Nys ambula                                 1
G com                                      1
Pickup tru                                 1
Com trans                                  1
Ford van                                   1
Push scoot                                 1
Self insur                                 1
Freightlin                                 1
John deere                                 1
Enclosed body - removable enclosure        1
E bike                                     1
Moving van                                 1
Wh ford co                                 1
Chevy expr                                 1
Fd ladder                                  1
Bobcat for                                 1
Freight                                    1
Ups truck                                  1
Livestock rack                             1
E revel sc                                 1
Courier                                    1
Horse                                      1
Psd                                        1
Gen  ambul                                 1
Slingshot                                  1
Road sweep                                 1
Cat                                        1
Drill rig                                  1
Dot equipm                                 1
Bucket tru                                 1
Usps van                                   1
18 wheeler                                 1
Truck van                                  1
Ambulence                                  1
Ut                                         1
Food truck                                 1
Dilevery t                                 1
Utility ve                                 1
Unkn                                       1
Electric s                                 1
Pumper                                     1
E skate bo                                 1
Truck flat                                 1
Lcomm                                      1
Freig                                      1
Pick-up tr                                 1
Ford sprin                                 1
Go kart                                    1
Ems                                        1
Back hoe                                   1
0                                          1
Hrse                                       1
Chevrolet                                  1
Front-load                                 1
Swt                                        1
Oth                                        1
Elec. unic                                 1
Fusion                                     1
F-250                                      1
Pedicab                                    1
Nyc fd                                     1
Trc                                        1
Postal bus                                 1
Nyc ambula                                 1
Fdny #226                                  1
Mechanical                                 1
Freight fl                                 1
Mta bus                                    1
Delivery t                                 1
Tank                                       1
Name: count, dtype: int64

In [172]:
bvd = dt.groupby(by = dt['Crash_date'].dt.to_period('M')).agg({'Number_of_persons_injured': 'sum'})
bvd
pd.set_option('display.max_rows', 300)